{% extends "base.html" %}
{%load static%}
{%block mainblock%}
{% for i in jobs %}
<div class="card mb-3 w-75 ">
    <div class="row g-0">
      <div class="col-md-4">
        {%if i.poster %}
        <img src="{{i.poster.url}}" class="img-fluid rounded-start h-100" alt="...">
        {%endif%}  
    </div>
      <div class="col-md-5">
        <div class="card-body">
            

          <h5 class="card-title"><b>Title : </b>{{i.title}}</h5>
          <h5 class="card-title"><b>Company name : </b>{{i.companyname}}</h5>
          <!-- <h5 class="card-title"><b>Experience : </b>{{i.experience}}</h5>
          <h5 class="card-title"><b>Salary : </b>{{i.salary}}</h5>
          <h5 class="card-title"><b>Qualification : </b>{{i.qualification}}</h5>
          <h5 class="card-title"><b>Skills : </b>{{i.skills}}</h5> -->
          <h5 class="card-title"><b>Category : </b>{{i.category}}</h5>

          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-3">
        <a href=""class="btn btn-primary my-3">View</a>
        <br>
        <a href="{url 'Del_job' i.id}"class="btn btn-primary my-3">Delete</a>
        <br>
        <a href="{url 'edit' i.id}"class="btn btn-primary my-3">Update</a>
      </div>
    </div>
  </div>
{%endfor%}
{%endblock%}